.tour-lists{
  width: 70vw;
  margin: 0 auto;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .tour-lists{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .tour-lists{
    width: 85vw;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1140px) {
  .tour-lists{
    grid-template-columns: repeat(4, 1fr);
  }
}