*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
--mainBlack: #222;
--mainGreen: #82b340;
--mainWhite: #fff;
--mainGrey: #ececec;
}

body {
  background: var(--mainWhite);
  color: var(--mainBlack);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

